<p>
  <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a>
  <br>
  Copyright &copy; {{ site.time | date: "%Y" }} | {{ site.author }}
  <br>
  <span class="credit">Temporarily Powered by <a href="http://octopress.org">Octopress</a> and <a href="https://github.com/vladigleba/readify">Readify</a> | Hosted on <a href="http://pages.github.com">GitHub Pages</a></span>
</p>
